<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
   		<script src="https://unpkg.com/vue/dist/vue.js"></script>
    	<link href="../css/style.css" rel="stylesheet">
	</head>
	<body>
		<div id = "myApp">
			<h1>表单单选按钮</h1>
			<input type="radio" id="male" value="男" v-model="pickedSex" />
			<label for="male">男</label>
			<input type="radio" id="female" value="女" v-model="pickedSex" />
			<label for="female">女</label>
			<br>
			<input type="radio" id="game" value="游戏" v-model="pickedHobby" />
			<label for="game">游戏</label>
			<input type="radio" id="movie" value="电影" v-model="pickedHobby" />
			<label for="movie">电影</label>
			<br />
			<div>{{ pickedSex }}:{{ pickedHobby }}</div>
		</div>
		<script>
			var myApp = new Vue({
				el:'#myApp',
				data:{
					pickedSex:"",
					pickedHobby:""
				}
			});
		</script>
	</body>
</html>
