<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://unpkg.com/vue/dist/vue.js"></script>
	    <link href="../css/style.css" rel="stylesheet"> 
	</head>
	<body>
		<div id = "myApp">
			<input v-model="message" type="text" placeholder="来编辑我吧！！！" />
			<h3>{{ titled }} {{ isd | toupper}}:{{ message }}</h3>
			<textarea v-model="message" placeholder="加入多行编辑" rows="8" cols="34"></textarea>
		</div>
		<script>
			var myApp = new Vue({
				el:'#myApp',
				data:{
					title:"massage",
					isd:"is",
					message:""
				},
				computed:{
					titled:function(){
						return this.title = this.title.toUpperCase();
					}
				},
				filters:{
					toupper:function(value){
						return value.toUpperCase();
					}
				}
			});
		</script>
	</body>
</html>
